<!DOCTYPE html>
<html class="h-full w-full">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="w-full h-full">
    <div class="flex w-full h-full">
      <%- include ('sidebar') %>
      <div class="w-3/4 pt-8 pl-4">
        <h1 class="text-red-600 h-24 text-3xl">F1 Dashboard</h1>
        <p class="text-2xl">Overview</p>
        <ul class="grid grid-cols-3 gap-4 mt-8">
          <a href="/driver">
            <li
              class="min-h-[90px] flex justify-around items-center h-full w-full"
            >
              <h1
                class="flex items-center h-full w-3/4 bg-red-600 text-white text-2xl"
              >
                Drivers:
              </h1>
              <p class="text-2xl w-1/4"><%= drivers_count %></p>
            </li>
          </a>
          <a href="/teams">
            <li
              class="min-h-[90px] flex justify-between items-center h-full w-full"
            >
              <h1
                class="flex items-center w-3/4 h-full bg-red-600 text-white text-2xl"
              >
                Teams:
              </h1>
              <p class="text-2xl w-1/4"><%= teams_count %></p>
            </li>
          </a>
          <a href="teamprincipal">
            <li
              class="min-h-[90px] flex justify-between items-center h-full w-full"
            >
              <h1
                class="w-3/4 flex items-center h-full text-2xl bg-red-600 text-white"
              >
                Team Principals:
              </h1>
              <p class="w-1/4 text-2xl"><%= team_principals_count %></p>
            </li>
          </a>
          <a href="/car">
            <li
              class="min-h-[90px] flex justify-between items-center h-full w-full"
            >
              <h1
                class="w-3/4 flex items-center h-full text-2xl bg-red-600 text-white"
              >
                Cars:
              </h1>
              <p class="w-1/4 text-2xl"><%= cars_count %></p>
            </li>
          </a>
        </ul>
      </div>
    </div>
  </body>
</html>
