<!DOCTYPE html>
<html class="h-full w-full">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="w-full h-full">
    <div class="flex w-full h-full">
      <%- include ('sidebar') %>
      <div class="w-3/4 pt-8 pl-4">
        <h1 class="text-3xl text-red-600"><%= title %></h1>
        <div class="flex justify-evenly">
          <div>
            <p class="text-2xl">Team Principal:</p>
            <% if (teamprinc) { %>

            <p class="text-2xl"><%= teamprinc.name %></p>
            <% } else { %>
            <p class="text-2xl">No Team Principal</p>
            <% } %>
          </div>
          <div>
            <p class="text-2xl">Drivers:</p>
            <% if (driver_list.length == 0) { %>
            <p class="text-2xl">No Drivers</p>
            <% } else { %> <% for (let driver of driver_list) { %>
            <a href="<%= driver.url %>">
              <p class="text-2xl"><%= driver.name %></p>
            </a>
            <% } %> <% } %>
          </div>
          <div>
            <p class="text-2xl">Car:</p>
            <% if (!team_car) { %>
            <p class="text-2xl">No Car</p>
            <% } else { %>
            <p class="text-2xl"><%= team_car.name %></p>
            <% } %>
          </div>
        </div>
      </div>
      <a href="<%= team_url +  `/delete` %>">
        <p class="text-2xl">Delete</p>
      </a>
    </div>
  </body>
</html>
