<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="flex">
      <%- include ('sidebar') %>
      <div class="flex-1">
        <h1><%= title %></h1>
        <p>Team Principal: <%= teamprinc.name %></p>
        <p>Drivers:</p>
        <% for (let driver of driver_list) { %>
        <p><%= driver.name %></p>
        <% } %>
      </div>
    </div>
  </body>
</html>
